@import './theme.scss';

body {
  margin: 0;
  height: 420px;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: $white;
}

#root {
  flex: 1;
  display: flex;
}

#yts {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: $body-bg;
}

// $nav-height: 58px;

.yts-nav {
  // height: $nav-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: $secondary;
}

.yts-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

@keyframes slide-enter {
  0% {
    transform: translateY(350px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-exit {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(350px);
  }
}

$slide-speed: 300ms;

.slide-enter {
  animation: slide-enter $slide-speed;
}

.slide-exit {
  animation: slide-exit $slide-speed;
}

.yts-summary {
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  // top: $nav-height;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  background: $body-bg;
  padding: 16px 24px;
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid $gray-700;
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

// .yts-summary > div {
//   padding: 2px 2px;
//   flex-grow: 1;
//   overflow-y: auto;
// }

.yts-footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}

.yts-footer > small {
  display: block;
  color: $text-muted;
  text-align: center;
}
